doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#sideNav
      li
        a(href="/") Home
      li
        a(href="/games") All games
      li
        a(href="/publishers") All publishers
      li
        a(href="/genres") All genres
    main
      block content
