doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul#sideNav
      li
        a(href="/") Home
      li
        a(href="/games") All games
      li
        a(href="/publishers") All publishers
      li
        a(href="/genres") All genres
      br
      br
      li
        a(href="/game/create") Create game
      li
        a(href="/publisher/create") Create publisher
      li
        a(href="/genre/create") Create genre
    main
      block content
